<template name="main">

    {{> pageHeader title="Options Traded" desc="Options traded on the NSE." category="App views" }}

    <div class="content">
        <div class="row">
            <div class="col-md-12">

                <div class="font-bold m-b-sm">
                    Project details
                </div>

                <div class="hpanel">
                    <div class="panel-body">
                        {{> DynamicTable table=tableOptions selector=selector class="table table-striped table-bordered table-condensed" id="instruments-table"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>