<template name="entryPanelTools">
    <div class="panel-tools">
        <a class="editDoc" docid="{{docid}}" collection="{{collection}}"><i class="fa fa-edit"></i> Edit</a>
        <a class="deleteDoc" docid="{{docid}}" collection="{{collection}}"><i class="fa fa-times"></i> Delete</a>
    </div>
</template>
