/* here you can put your own css to customize and override the theme */

#cockpit{
  font-size: 200%;
}

/*################################################################
  SITE WRAPS
################################################################# */

#headerwrap {
  background-color: #00b3fe;
  min-height: 550px;
  padding-top: 100px;
  padding-bottom: 0px;
  text-align: center;
}

#headerwrap h3, h5 {
  font-weight: 400;
}

#headerwrap h1 {
  margin-bottom: 25px;
}

#headerwrap .img-responsive {
  margin: 0 auto;
}
