<template name="profile">
    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="col-lg-12">
                          {{> quickForm collection="Meteor.users" doc=user id="user-profile-form" type="update" omitFields="emails,createdAt, services,heartbeat"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
