<template name="login">
    <div class="login-container container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="text-center m-b-md">
                    <h3>Log into Xeon!</h3>
                    <small>Tresspassing Prohibited!</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        {{> atForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
