<template name="signOut">
  <div class="container">
    <div class="row" id="champion-messages">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Sign out page</h3>
            </div>
            <div class="panel-body">
              <b>You have been logged out!</b>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>